/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&family=Tilt+Prism&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Alkatra&family=EB+Garamond:wght@700&family=Quicksand:wght@500;600&family=Slackey&display=swap');
/* 
font-family: 'Adamina', serif;
font-family: 'Alkatra', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Slackey', cursive; 
*/

:root {
    --green: #285B55;
    --ltgreen: #69A44F;
    --white: #ffffff;
    --bgimage: url(images/xsxs.png);
    --brown: #927575;
    --ltbrown: #d1b5b5;
    --grey-light: #A6A6A6;
    --grey: #545454;
    --greynav: rgba(255, 255, 255, 0.116);
    --bggradient: linear-gradient(-180deg, grey, var(--brown), var(--green));
    --adamina: 'Adamina', serif;
    --alkatra: 'Alkatra', cursive;
    --quicksand: 'Quicksand', sans-serif;
    --garamond: 'EB Garamond', serif;
    --slackey: 'Slackey', cursive;
    
}

* {
    font-family: var(--quicksand);
    /* font-size: 12px; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fsAlkatra {
    font-family: var(--alkatra);
}

.fs12 {
    font-size: 12px;
}
.fs14 {
    font-size: 14px;
}

.bg-grey-lt {
    background-color: var(--grey-light);
}

.bg-brown {
    background-color: var(--brown);
}

.bg-ltbrown {
    background-color: var(--ltbrown);
}

.bg-green {
    background-color: var(--green);
}

.textwhite {
    color: var(--white);
}

.textgreen {
    color: var(--green);
}


.mod-nav {
    background-color: var(--greynav);
    /* color: var(--brown); */
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.mod-nav img {
    height: 80px;
}

.nav-links ul, .nav-links a {
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    color: var(----brown);
}

.nav-links a:hover {
    color: var(--green);
}

.mod-navheader {
    height: 100vh;
    background-image: var(--bggradient);
}

.kidheader{
    height: 550px;
}

.header-girl{
    height: 550px;
}

.headerSlogan {
    height: 300px;
    width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);  
    backdrop-filter: blur(10px);
    text-align: center;

}

.headerSlogan h1 {
    padding: 15px;
    font-family: --adamina;
    font-weight: 900;
    /* color: white; */
    color: var(--green);
    text-shadow: 2px 2px 8px var(--white);

}

.headerSlogan p {
    font-size: 25px;
    /* color: white; */
    color: var(--green);
    text-shadow: 2px 2px 8px var(--white);

}

.header-desc{
    height: 300px;
    width: 570px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);  
    backdrop-filter: blur(10px);
    text-align: center;
}

.header-desc h1 {
    padding: 15px;
    font-family: --adamina;
    font-weight: 900;
    color: var(--green);
    text-shadow: 2px 2px 8px var(--white);

}

.header-desc p {
    font-size: 25px;
    color: var(--green);
    text-shadow: 2px 2px 8px var(--white);

}

.joinUs{
    font-family: var(--alkatra);
    font-size: 80px;
    /* color: var(--green); */
    color: white;
    text-shadow: 4px 2px var(--brown);
    text-align: end;
    text-decoration: none;
    position: relative;
    top: -60px;
}

.joinUs:hover {
    color: var(--ltbrown);
}

.img-poster {
    height: 80px;
    /* width: 250px; */
}

.mod-card {
    width: 230px;
}

.row-limit {
    max-width: 1000px;
}

.mod-video {
    height: 300px;
}

.brand-name {
    font-family: var(--slackey);
    color: var(--green);
    text-shadow: 2px 2px 8px var(--brown);
}

.mod-gal {
    height: 100px;
    /* width: 170px; */
}

.vol-sp-org {
    color: white;
    font-family: var(--alkatra);
    font-size: 28px;
    text-shadow: 3px 2px var(--brown);
    background-color: var(--green);
    border-radius: 8px;
    margin: 0;
}
.vol-sp-org:hover {
    color: var(--ltgreen);
    text-shadow: none;
    
}

.mod-footer {
    /* position: fixed;
    bottom: 0; */
    background-color: var(--green);
}

.col-desc {
    width: 600px;
}

.sumEvents {
    width: fit-content;
    font-size: 12px;
    background-color: var(--ltbrown);
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1270px) {
    .mod-navheader {
        height: 100%;
    }

    .mod-video {
        height: 280px;
    }
} 

@media (max-width: 1210px) {

    .mod-navheader {
        height: 100%;
    }

    .kidheader{
        height: 500px;
    }

    .header-girl{
        height: 500px;
    }

    .headerSlogan {
        height: 100%;
        width: 100%;
        padding: 15px;
    
    }

    .headerSlogan h1 {
        padding: 15px;
    
    }

    .header-desc {
        height: 100%;
        width: 100%;
        padding: 15px;
    
    }

    .header-desc h1 {
        padding: 15px;
    
    }

    .mod-video {
        height: 270px;
    }
    
}

@media (max-width: 1010px) {
    .mod-navheader {
        height: 100%;
    }
    
    .kidheader{
        height: 450px;
    }

    .header-girl{
        height: 450px;
    }

    .headerSlogan {
        height: 100%;
        width: 100%;
        padding: 15px;
    
    }

    .headerSlogan h1 {
        padding: 15px;
    
    }

    .header-desc {
        height: 100%;
        width: 100%;
        padding: 15px;
    
    }

    .header-desc h1 {
        padding: 15px;
    
    }

    .mod-video {
        height: 250px;
    }
       
}

@media (max-width: 700px) {

    .mod-navheader {
        height: 100%;
    }

    .mod-nav img {
        height: 50px;
    }

    .nav-links li, .nav-links a {
        font-size: 12px;
    }

    .logo {
        height: 100%;
    }

    .headerSlogan {
        height: 100%;
        width: 100%;
        padding: 5px;
    
    }

    .headerSlogan h1 {
        padding: 5px;
        font-family: 'Adamina', serif;
        font-size: 20px;
        font-weight: 900;
    
    }
    
    .headerSlogan p {
        font-size: 15px;
    }

    .header-desc {
        height: 100%;
        width: 100%;
        padding: 5px;
    
    }

    .header-desc h1 {
        padding: 5px;
        font-family: 'Adamina', serif;
        font-size: 20px;
        font-weight: 900;
    
    }
    
    .header-desc p {
        font-size: 15px;
    }

    .kidheader{
        height: 400px;
    }

    .header-girl{
        height: 400px;
    }

    .joinUs{
        font-size: 60px;
        top: -35px;
    }

    .mod-gal {
        width: 100%;
    }

    .mod-video {
        height: 230px;
    }
}

@media (max-width: 576px) {
    .kidheader{
        height: 300px;
    }

    .header-girl{
        height: 240px;
    }

    .col-desc {
        width: auto;
    }

    .mod-video {
        height: 200px;
    }
}


